<table width="100%">
  <tr>
    <td>
      <%= image_tag "paris.jpg", class: "city-img"%>
    </td>
    <td>
      <h4>Paris</h4>
      <p>Paris is the capital city of France. It is located in France and France is surrounding it. It is populated by French people.</p>
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag "rio.jpg", class: "city-img"%>
    </td>
    <td>
      <h4>Rio de Janeiro</h4>
      <p>Rio de Janeiro is the former capital city of Brazil. It is located in Brazil and Brazil is surrounding it. It is populated by Brazilian people.</p>
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag "bruxelles.jpg", class: "city-img"%>
    </td>
    <td>
      <h4>Bruxelles</h4>
      <p>Bruxelles is the capital city of Belgium. It is located in Belgium and Belgium is surrounding it. It is populated by Belgian people.</p>
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag "roma.jpg", class: "city-img"%>
    </td>
    <td>
      <h4>Roma</h4>
      <p>Roma is the capital city of the Roman Empire. It is located in Italy and Italy is surrounding it. It is populated by Romans.</p>
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag "marseille.jpg", class: "city-img"%>
    </td>
    <td>
      <h4>Marseille</h4>
      <p>Marseille is the capital city of nothing. It is located in Provence and Provence is surrounding it. It is populated by... nobody knows.</p>
    </td>
  </tr>
</table>