<div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <div id="presentation-box" class="card-block shadowed-box">
    <div class="img-wrapper">

      <% if current_user.picture.present? %>
                <%= image_tag current_user.picture.url(:medium), class: "top-img img-circle" %>
                <% else %>
                <%= image_tag ("beard-man-logo.png"), class: "top-img img-circle" %>
                <% end %>


    </div>
    <div class="main-title-block">
      <h1 class="main-title"><%= "#{@user.first_name}  #{@user.last_name}" %></h1>
      <h4 class="main-subtitle"><%= "#{@user.email}" %></h4>
    </div>
    <div class="desc-wrapper">
      <p><%= "#{@user.description}" %></p>
    </div>
    <div>
      <%= link_to "Edit profile", edit_user_path(@user) %>
    </div>
  </div>
  <div id="keep-in-touch-box" class="card-block shadowed-box">
    <h3>My rating</h3>
    <ul id="social-list" class="unbulleted-list">
      <li>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </li>
    </ul>
  </div>
</div>
