<div class="container text-center">
  <div id="myBackLinkRow" class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-left">
      <div id="presentation-box" class="card-block shadowed-box centered-text">
        <div class="main-title-block">
          <h1 class="main-title">Update your profile</h1>
        </div>
        <%= simple_form_for @user do |f| %>
          <%= f.file_field :picture %>
          <%= image_tag @user.picture.url(:medium), class:"top-img img-circle" %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.input :description %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
